Repository CremitHQ/nebula, pull requests merged in 2024-10, with the labels that each got.

#24 chore: add issue and PR templates for better contributions
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/design_proposal.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
Labels: documentation, enhancement

#25 feat(ci): add CI workflow for Tessera project tests
  .github/workflows/ci-tessera.yaml
Labels: ci

#20 feat(tessera-storage): add initial storage and shield traits with deps
  crates/tessera-storage/Cargo.toml
  crates/tessera-storage/src/lib.rs
  crates/tessera-storage/src/shield/mod.rs
Labels: storage

#23 feat(shield): implement AES GCM-based shield storage system
  Cargo.lock
  crates/tessera-storage/src/shield/aes.rs
Labels: storage

#36 Update README.md details and Add the Contributing Guidelines.
  CONTRIBUTING.md
  README.md
Labels: documentation

#35 impl get secrets from backbone server
  Cargo.lock
  crates/tessera-backbone/Cargo.toml
  crates/tessera-backbone/src/application/mod.rs
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/database/applied_policy.rs
  crates/tessera-backbone/src/database/mod.rs
  crates/tessera-backbone/src/database/secret_metadata.rs
  crates/tessera-backbone/src/domain/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/mod.rs
  crates/tessera-backbone/src/server/router/mod.rs
  crates/tessera-backbone/src/server/router/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/response/mod.rs
Labels: backbone

#37 refactor: streamline curve operations and trait implementations
  Cargo.lock
  Cargo.toml
  crates/tessera-abe-wasm/src/lib.rs
  crates/tessera-abe-wasm/src/utils.rs
  crates/tessera-abe/Cargo.toml
  crates/tessera-abe/src/curves/bls24479.rs
  crates/tessera-abe/src/curves/bls48556.rs
  crates/tessera-abe/src/curves/mod.rs
  crates/tessera-abe/src/schemes/rw15.rs
  crates/tessera-abe/src/utils/secret_shares.rs
  crates/tessera-miracl/Cargo.toml
  crates/tessera-miracl/src/bls24479/big.rs
  crates/tessera-miracl/src/bls48556/big.rs
Labels: abe-module, performance, refactoring, test

#39 refactor: simplify ciphertext structure by consolidating c1-c4 into cx
  crates/tessera-abe/src/schemes/rw15.rs
Labels: abe-module, refactoring

#43 refactor: update ABEError to use Cow for error messages
  crates/tessera-abe/src/curves/bls48556.rs
  crates/tessera-abe/src/error.rs
  crates/tessera-abe/src/schemes/rw15.rs
  crates/tessera-abe/src/utils/aes.rs
  crates/tessera-abe/src/utils/secret_shares.rs
  crates/tessera-storage/src/backend/file.rs
Labels: abe-module, refactoring

#42 impl getting single secret
  Cargo.lock
  Cargo.toml
  crates/tessera-backbone/Cargo.toml
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/response/mod.rs
Labels: backbone

#44 feat(backbone): implement getting for parameter
  Cargo.lock
  Cargo.toml
  crates/tessera-backbone/Cargo.toml
  crates/tessera-backbone/src/application/mod.rs
  crates/tessera-backbone/src/application/parameter/mod.rs
  crates/tessera-backbone/src/database/mod.rs
  crates/tessera-backbone/src/database/parameter.rs
  crates/tessera-backbone/src/domain/mod.rs
  crates/tessera-backbone/src/domain/parameter/mod.rs
  crates/tessera-backbone/src/server/mod.rs
  crates/tessera-backbone/src/server/router/mod.rs
  crates/tessera-backbone/src/server/router/parameter/mod.rs
  crates/tessera-backbone/src/server/router/parameter/response/mod.rs
Labels: backbone

#46 impl getting managed policies
  crates/tessera-backbone/src/application/mod.rs
  crates/tessera-backbone/src/application/policy/mod.rs
  crates/tessera-backbone/src/database/mod.rs
  crates/tessera-backbone/src/database/policy.rs
  crates/tessera-backbone/src/domain/mod.rs
  crates/tessera-backbone/src/domain/policy/mod.rs
  crates/tessera-backbone/src/server/mod.rs
  crates/tessera-backbone/src/server/router/mod.rs
  crates/tessera-backbone/src/server/router/policy/mod.rs
  crates/tessera-backbone/src/server/router/policy/response.rs
Labels: backbone

#47 refactor: update lifetime annotations in AESShieldStorage
  crates/tessera-storage/src/backend/file.rs
  crates/tessera-storage/src/shield/aes.rs
  crates/tessera-storage/src/shield/mod.rs
Labels: refactoring, storage

#48 feat(storage): update storage get methods to return Option type
  crates/tessera-storage/src/backend/file.rs
  crates/tessera-storage/src/lib.rs
  crates/tessera-storage/src/shield/aes.rs
Labels: refactoring, storage

#50 feat(authority): Impl generating the key pair
  crates/tessera-authority/src/domain/application.rs
  crates/tessera-authority/src/domain/key_pair.rs
  crates/tessera-authority/src/main.rs
Labels: enhancement, authority

#51 feat(path): impl getting managed paths
  crates/tessera-backbone/src/application/mod.rs
  crates/tessera-backbone/src/application/path/mod.rs
  crates/tessera-backbone/src/database/mod.rs
  crates/tessera-backbone/src/database/path.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/mod.rs
  crates/tessera-backbone/src/server/router/mod.rs
  crates/tessera-backbone/src/server/router/path/mod.rs
  crates/tessera-backbone/src/server/router/path/response.rs
Labels: backbone

#53 refactor: streamline secret share index removal logic and updates
  crates/tessera-abe/src/curves/mod.rs
  crates/tessera-abe/src/schemes/rw15.rs
  crates/tessera-abe/src/utils/secret_shares.rs
Labels: abe-module

#55 feat: add From<u64> implementation for field types
  crates/tessera-abe/src/curves/bls24479.rs
  crates/tessera-abe/src/curves/bls48556.rs
  crates/tessera-abe/src/curves/mod.rs
  crates/tessera-abe/src/utils/secret_shares.rs
Labels: abe-module

#54 impl registering secret
  crates/tessera-backbone/src/application/mod.rs
  crates/tessera-backbone/src/application/path/mod.rs
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/database/mod.rs
  crates/tessera-backbone/src/domain/policy/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/request.rs
  crates/tessera-backbone/src/server/router/secret/response/mod.rs
Labels: backbone

#56 feat: implement re-sharable Shamir's secret sharing scheme with GF256
  Cargo.lock
  crates/tessera-secret-sharing/Cargo.toml
  crates/tessera-secret-sharing/src/gf256.rs
  crates/tessera-secret-sharing/src/lib.rs
  crates/tessera-secret-sharing/src/shamir.rs
Labels: enhancement, cryptography

#59 feat: add serialization and zeroing for GF256 and Share structs
  crates/tessera-secret-sharing/src/gf256.rs
  crates/tessera-secret-sharing/src/shamir.rs
Labels: refactoring, cryptography

#62 fix(backbone): change snake_case into cameCase
  crates/tessera-backbone/src/server/response.rs
  crates/tessera-backbone/src/server/router/parameter/response/mod.rs
  crates/tessera-backbone/src/server/router/path/response.rs
  crates/tessera-backbone/src/server/router/policy/response.rs
  crates/tessera-backbone/src/server/router/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/request.rs
  crates/tessera-backbone/src/server/router/secret/response/mod.rs
  crates/tessera-backbone/src/server/router/workspace/request/mod.rs
  crates/tessera-backbone/src/server/router/workspace/response/mod.rs
Labels: bug, backbone

#61 feat(authority): Impl initialization for the key-pair storage
  Cargo.lock
  Cargo.toml
  crates/tessera-authority/Cargo.toml
  crates/tessera-authority/src/application.rs
  crates/tessera-authority/src/domain/authority.rs
  crates/tessera-authority/src/domain/key_pair.rs
  crates/tessera-authority/src/domain/mod.rs
  crates/tessera-authority/src/main.rs
  crates/tessera-authority/src/server/mod.rs
  crates/tessera-authority/src/server/router/init/mod.rs
  crates/tessera-authority/src/server/router/mod.rs
  crates/tessera-authority/static/default_config.toml
Labels: enhancement, authority

#58 fix: trim leading slashes from storage keys
  crates/tessera-storage/src/backend/file.rs
Labels: bug, storage

#63 feat(backbone): impl persisting secret cipher to database
  Cargo.lock
  crates/tessera-backbone/Cargo.toml
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/database/mod.rs
  crates/tessera-backbone/src/database/secret_value.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/request.rs
  crates/tessera-backbone/src/server/router/secret/response/mod.rs
Labels: backbone

#64 feat(backbone): Response secret with cipher
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/response/mod.rs
Labels: backbone

#65 feat: replace bincode with rmp-serde for serialization
  Cargo.lock
  Cargo.toml
  crates/tessera-authority/Cargo.toml
  crates/tessera-authority/src/domain/key_pair.rs
  crates/tessera-authority/src/server/router/init/mod.rs
  crates/tessera-storage/Cargo.toml
  crates/tessera-storage/src/shield/aes.rs
Labels: enhancement

#66 feat(backbone): update parameter response structure and serialization
  Cargo.lock
  crates/tessera-backbone/Cargo.toml
  crates/tessera-backbone/src/application/parameter/mod.rs
  crates/tessera-backbone/src/server/router/parameter/mod.rs
  crates/tessera-backbone/src/server/router/parameter/response/mod.rs
Labels: enhancement, backbone

#67 refactor(backbone): switch serialization from serde_json to rmp_serde for global parameter
  crates/tessera-backbone/src/database/parameter.rs
  crates/tessera-backbone/src/domain/parameter/mod.rs
Labels: enhancement, backbone

#68 feat(authority): Add getting the public key endpoint
  crates/tessera-authority/src/domain/authority.rs
  crates/tessera-authority/src/domain/backbone.rs
  crates/tessera-authority/src/domain/key_pair.rs
  crates/tessera-authority/src/server/mod.rs
  crates/tessera-authority/src/server/router/init/mod.rs
  crates/tessera-authority/src/server/router/mod.rs
  crates/tessera-authority/src/server/router/pubkey/mod.rs
Labels: authority

#69 refactor: improve clarity for error handling and validation
  crates/tessera-abe/src/error.rs
  crates/tessera-abe/src/schemes/rw15.rs
  crates/tessera-abe/src/utils/aes.rs
  crates/tessera-abe/src/utils/secret_shares.rs
  crates/tessera-policy/src/error.rs
  crates/tessera-policy/src/pest/human.rs
  crates/tessera-policy/src/pest/json.rs
  crates/tessera-policy/src/pest/mod.rs
  crates/tessera-storage/src/backend/file.rs
  crates/tessera-storage/src/shield/aes.rs
  crates/tessera-storage/src/shield/mod.rs
Labels: abe-module, refactoring, storage

#70 refactor(policy): policy tree nodes to construct with a b-tree
  crates/tessera-abe/src/error.rs
  crates/tessera-abe/src/schemes/rw15.rs
  crates/tessera-abe/src/utils/secret_shares.rs
  crates/tessera-abe/src/utils/tools.rs
  crates/tessera-policy/src/error.rs
  crates/tessera-policy/src/pest/human.rs
  crates/tessera-policy/src/pest/json.rs
  crates/tessera-policy/src/pest/mod.rs
Labels: abe-module, refactoring

#71 feat: add MonotoneSpanProgram(MSP) for policy
  Cargo.lock
  crates/tessera-abe/src/schemes/rw15.rs
  crates/tessera-abe/src/utils/mod.rs
  crates/tessera-abe/src/utils/secret_shares.rs
  crates/tessera-policy/Cargo.toml
  crates/tessera-policy/src/lib.rs
  crates/tessera-policy/src/msp.rs
  crates/tessera-policy/src/pest/human.rs
  crates/tessera-policy/src/pest/json.rs
  crates/tessera-policy/src/pest/mod.rs
  crates/tessera-policy/src/utils.rs
Labels: enhancement, abe-module
