Repository CremitHQ/nebula, pull requests merged in 2024-11, with the labels that each got.

#72 feat(storage): implement Postgres storage backend
  Cargo.lock
  Cargo.toml
  crates/tessera-storage/Cargo.toml
  crates/tessera-storage/src/backend/mod.rs
  crates/tessera-storage/src/backend/postgres.rs
  crates/tessera-storage/src/lib.rs
  crates/tessera-storage/src/shield/aes.rs
Labels: storage

#74 feat(backbone): impl deleting secret api
  .dockerignore
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/secret/mod.rs
Labels: backbone

#78 feat(abe): integrate Bn462 pairing-friendly curve
  crates/tessera-abe/src/curves/bn462.rs
  crates/tessera-abe/src/curves/mod.rs
  crates/tessera-abe/src/schemes/isabella24.rs
  crates/tessera-miracl/src/bn462/big.rs
  crates/tessera-miracl/src/bn462/ecp.rs
  crates/tessera-miracl/src/bn462/ecp2.rs
  crates/tessera-miracl/src/bn462/fp.rs
  crates/tessera-miracl/src/bn462/fp12.rs
  crates/tessera-miracl/src/bn462/fp2.rs
  crates/tessera-miracl/src/bn462/fp4.rs
Labels: abe-module

#77 feat(wasm): add `tessera-abe-wasm` demo
  Cargo.lock
  crates/tessera-abe-wasm/Cargo.toml
  crates/tessera-abe-wasm/src/lib.rs
  crates/tessera-abe-wasm/web/.gitignore
  crates/tessera-abe-wasm/web/dist/index.html
  crates/tessera-abe-wasm/web/package.json
  crates/tessera-abe-wasm/web/src/index.js
  crates/tessera-abe-wasm/web/webpack.config.js
  crates/tessera-abe-wasm/web/yarn.lock
  crates/tessera-abe/src/schemes/isabella24.rs
Labels: abe-module, wasm

#79 impl registering path
  crates/tessera-backbone/src/application/path/mod.rs
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/path/mod.rs
  crates/tessera-backbone/src/server/router/path/response.rs
  crates/tessera-backbone/src/server/router/path/reuqest.rs
Labels: backbone

#80 impl deleting path
  crates/tessera-backbone/src/application/path/mod.rs
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/path/mod.rs
  crates/tessera-backbone/src/server/router/path/response.rs
Labels: backbone

#81 impl editing path
  crates/tessera-backbone/src/application/path/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/path/mod.rs
  crates/tessera-backbone/src/server/router/path/reuqest.rs
Labels: backbone

#82 impl register policy
  Cargo.lock
  crates/tessera-backbone/Cargo.toml
  crates/tessera-backbone/src/application/policy/mod.rs
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/domain/policy/mod.rs
  crates/tessera-backbone/src/server/router/policy/mod.rs
  crates/tessera-backbone/src/server/router/policy/request.rs
  crates/tessera-backbone/src/server/router/policy/response.rs
Labels: backbone

#83 impl editing policy
  crates/tessera-backbone/src/application/policy/mod.rs
  crates/tessera-backbone/src/application/secret/mod.rs
  crates/tessera-backbone/src/domain/policy/mod.rs
  crates/tessera-backbone/src/domain/secret/mod.rs
  crates/tessera-backbone/src/server/router/policy/mod.rs
  crates/tessera-backbone/src/server/router/policy/request.rs
Labels: backbone

#84 impl deleting policy
  crates/tessera-backbone/src/application/policy/mod.rs
  crates/tessera-backbone/src/domain/policy/mod.rs
  crates/tessera-backbone/src/server/router/policy/mod.rs
Labels: backbone

#85 chore: update Rust version from 1.80.1 to 1.82
  .tool-versions
Labels: enhancement

#89 feat(idp): enhance SAML support with custom claims
  Cargo.lock
  Cargo.toml
  crates/nebula-abe/Cargo.toml
  crates/nebula-idp/Cargo.toml
  crates/nebula-idp/src/domain/connector/mod.rs
  crates/nebula-idp/src/domain/connector/saml.rs
Labels: idp

#92 remove management policy and rename access policy
  crates/nebula-backbone/src/application/policy/mod.rs
  crates/nebula-backbone/src/application/secret/mod.rs
  crates/nebula-backbone/src/database/applied_policy.rs
  crates/nebula-backbone/src/domain/policy/mod.rs
  crates/nebula-backbone/src/domain/secret/mod.rs
  crates/nebula-backbone/src/server/router/secret/mod.rs
  crates/nebula-backbone/src/server/router/secret/request.rs
  crates/nebula-backbone/src/server/router/secret/response/mod.rs
Labels: backbone

#90 manage path policy
  crates/nebula-backbone/src/application/path/mod.rs
  crates/nebula-backbone/src/database/applied_path_policy.rs
  crates/nebula-backbone/src/database/applied_path_policy_allowed_action.rs
  crates/nebula-backbone/src/database/mod.rs
  crates/nebula-backbone/src/database/path.rs
  crates/nebula-backbone/src/domain/secret/mod.rs
  crates/nebula-backbone/src/server/router/path/mod.rs
  crates/nebula-backbone/src/server/router/path/model.rs
  crates/nebula-backbone/src/server/router/path/request.rs
  crates/nebula-backbone/src/server/router/path/response.rs
  crates/nebula-backbone/src/server/router/path/reuqest.rs
Labels: backbone

#93 feat(authz): Handling the JWT within the authrization
  Cargo.lock
  crates/nebula-authorization/Cargo.toml
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/config.rs
  crates/nebula-authorization/src/database/mod.rs
  crates/nebula-authorization/src/database/types.rs
  crates/nebula-authorization/src/domain/connector/mod.rs
  crates/nebula-authorization/src/domain/connector/saml.rs
  crates/nebula-authorization/src/domain/mod.rs
  crates/nebula-authorization/src/domain/oidc/mod.rs
  crates/nebula-authorization/src/domain/oidc/model/acr.rs
  crates/nebula-authorization/src/domain/oidc/model/amr.rs
  crates/nebula-authorization/src/domain/oidc/model/claims.rs
  crates/nebula-authorization/src/domain/oidc/model/code.rs
  crates/nebula-authorization/src/domain/oidc/model/code_challenge_method.rs
  crates/nebula-authorization/src/domain/oidc/model/issuer.rs
  crates/nebula-authorization/src/domain/oidc/model/mod.rs
  crates/nebula-authorization/src/domain/oidc/model/nonce.rs
  crates/nebula-authorization/src/domain/oidc/model/response_mode.rs
  crates/nebula-authorization/src/domain/oidc/model/response_type.rs
  crates/nebula-authorization/src/domain/oidc/model/scope.rs
  crates/nebula-authorization/src/domain/oidc/model/state.rs
  crates/nebula-authorization/src/domain/oidc/model/subject.rs
  crates/nebula-authorization/src/domain/oidc/random.rs
  crates/nebula-authorization/src/domain/oidc/utils/hash.rs
  crates/nebula-authorization/src/domain/oidc/utils/mod.rs
  crates/nebula-authorization/src/domain/oidc/utils/serde.rs
  crates/nebula-authorization/src/domain/token/error.rs
  crates/nebula-authorization/src/domain/token/jwk/jwk_ext.rs
  crates/nebula-authorization/src/domain/token/jwk/jwk_set.rs
  crates/nebula-authorization/src/domain/token/jwk/mod.rs
  crates/nebula-authorization/src/domain/token/jws.rs
  crates/nebula-authorization/src/domain/token/jwt.rs
  crates/nebula-authorization/src/domain/token/mod.rs
  crates/nebula-authorization/src/logger.rs
  crates/nebula-authorization/src/main.rs
  crates/nebula-authorization/src/server/mod.rs
  crates/nebula-authorization/src/server/router/mod.rs
  crates/nebula-authorization/static/default_config.toml
  crates/nebula-idp/src/application.rs
  crates/nebula-idp/src/config.rs
  crates/nebula-idp/src/domain/auth_provider.rs
  crates/nebula-idp/src/domain/connector/mod.rs
  crates/nebula-idp/src/domain/mod.rs
  crates/nebula-idp/src/main.rs
  crates/nebula-idp/src/server/router/mod.rs
Labels: authorization

#96 manage machine identity
  crates/nebula-authorization/Cargo.toml
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/database/machine_identity.rs
  crates/nebula-authorization/src/database/machine_identity_attribute.rs
  crates/nebula-authorization/src/database/mod.rs
  crates/nebula-authorization/src/domain/machine_identity/mod.rs
  crates/nebula-authorization/src/domain/mod.rs
  crates/nebula-authorization/src/domain/oidc/utils/hash.rs
  crates/nebula-authorization/src/server/router/mod.rs
Labels: authorization

#97 feat: add role-based access control with SAML updates
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/config.rs
  crates/nebula-authorization/src/domain/connector/mod.rs
  crates/nebula-authorization/src/domain/connector/saml.rs
  crates/nebula-authorization/src/server/router/mod.rs
  crates/nebula-token/src/claim.rs
Labels: authorization

#98 feat: add admin support to Authority configuration
  Cargo.toml
  crates/nebula-authority/src/config.rs
  crates/nebula-authority/src/domain/authority.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-token/Cargo.toml
Labels: authority

#99 impl APIs for managing machine identity tokens
  crates/nebula-authorization/src/database/machine_identity_token.rs
  crates/nebula-authorization/src/database/mod.rs
  crates/nebula-authorization/src/domain/machine_identity/mod.rs
  crates/nebula-authorization/src/server/router/mod.rs
Labels: authorization

#101 feat(authority): Add user key router
  crates/nebula-authority/src/domain/authority.rs
  crates/nebula-authority/src/domain/backbone.rs
  crates/nebula-authority/src/domain/key_pair.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authority/src/server/router/mod.rs
  crates/nebula-authority/src/server/router/userkey/mod.rs
  crates/nebula-backbone/src/application/parameter/mod.rs
  crates/nebula-backbone/src/domain/parameter/mod.rs
  crates/nebula-storage/src/shield/aes.rs
  crates/nebula-storage/src/shield/mod.rs
Labels: authority

#102 feat(authority): add disarm key shares handling in config and main
  crates/nebula-authority/src/config.rs
  crates/nebula-authority/src/main.rs
Labels: authority

#105 feat: Add zeroizing for a sensitive data
  Cargo.lock
  Cargo.toml
  crates/nebula-abe/Cargo.toml
  crates/nebula-abe/src/curves/bls24479.rs
  crates/nebula-abe/src/curves/bls48556.rs
  crates/nebula-abe/src/curves/bn462.rs
  crates/nebula-abe/src/curves/miracl.rs
  crates/nebula-abe/src/curves/mod.rs
  crates/nebula-abe/src/schemes/isabella24.rs
  crates/nebula-authority/Cargo.toml
  crates/nebula-miracl/Cargo.toml
  crates/nebula-miracl/src/bls24479/big.rs
  crates/nebula-miracl/src/bls24479/ecp.rs
  crates/nebula-miracl/src/bls24479/ecp4.rs
  crates/nebula-miracl/src/bls24479/fp.rs
  crates/nebula-miracl/src/bls24479/fp2.rs
  crates/nebula-miracl/src/bls24479/fp24.rs
  crates/nebula-miracl/src/bls24479/fp4.rs
  crates/nebula-miracl/src/bls24479/fp8.rs
  crates/nebula-miracl/src/bls24479/pair4.rs
  crates/nebula-miracl/src/bls48556/big.rs
  crates/nebula-miracl/src/bls48556/ecp.rs
  crates/nebula-miracl/src/bls48556/ecp8.rs
  crates/nebula-miracl/src/bls48556/fp.rs
  crates/nebula-miracl/src/bls48556/fp16.rs
  crates/nebula-miracl/src/bls48556/fp2.rs
  crates/nebula-miracl/src/bls48556/fp4.rs
  crates/nebula-miracl/src/bls48556/fp48.rs
  crates/nebula-miracl/src/bls48556/fp8.rs
  crates/nebula-miracl/src/bls48556/pair8.rs
  crates/nebula-miracl/src/bn462/big.rs
  crates/nebula-miracl/src/bn462/ecp.rs
  crates/nebula-miracl/src/bn462/ecp2.rs
  crates/nebula-miracl/src/bn462/fp.rs
  crates/nebula-miracl/src/bn462/fp12.rs
  crates/nebula-miracl/src/bn462/fp2.rs
  crates/nebula-miracl/src/bn462/fp4.rs
  crates/nebula-miracl/src/bn462/pair.rs
  crates/nebula-storage/Cargo.toml
  crates/nebula-storage/src/lib.rs
  crates/nebula-storage/src/shield/aes.rs
  crates/nebula-storage/src/shield/mod.rs
Labels: abe-module, authority, refactoring, storage

#103 feat: add version handling to public and user key responses
  crates/nebula-authority/src/domain/authority.rs
  crates/nebula-authority/src/domain/key_pair.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authority/src/server/router/init/mod.rs
  crates/nebula-authority/src/server/router/pubkey/mod.rs
  crates/nebula-authority/src/server/router/userkey/mod.rs
Labels: authority

#104 feat: add key pair rolling API endpoint
  crates/nebula-authority/src/domain/authority.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authority/src/server/router/keypair/mod.rs
  crates/nebula-authority/src/server/router/mod.rs
Labels: authority

#106 feat: remove unnecessary Zeroizing logic & add `cached` macro
  Cargo.lock
  Cargo.toml
  crates/nebula-authority/Cargo.toml
  crates/nebula-authority/src/domain/authority.rs
  crates/nebula-authority/src/domain/backbone.rs
  crates/nebula-authority/src/domain/key_pair.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authority/src/server/router/disarm/mod.rs
  crates/nebula-authority/src/server/router/mod.rs
  crates/nebula-authorization/Cargo.toml
  crates/nebula-backbone/Cargo.toml
  crates/nebula-secret-sharing/Cargo.toml
  crates/nebula-secret-sharing/src/gf256.rs
  crates/nebula-secret-sharing/src/shamir.rs
Labels: authority

#107 feat: implement issuing the JWT for a machine identity
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/domain/connector/mod.rs
  crates/nebula-authorization/src/domain/machine_identity/mod.rs
  crates/nebula-authorization/src/domain/mod.rs
  crates/nebula-authorization/src/domain/token/mod.rs
  crates/nebula-authorization/src/server/router/mod.rs
Labels: authorization

#109 remove attributes from registering machine identity logic
  crates/nebula-authorization/src/domain/machine_identity/mod.rs
  crates/nebula-authorization/src/server/router/mod.rs
Labels: bug, authorization

#113 feat: apply camelCase to JSON field names in response
  crates/nebula-authorization/src/server/router/mod.rs
Labels: bug, authorization

#115 feat: make SAML config fields optional for flexibility
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/config.rs
  crates/nebula-authorization/src/domain/connector/saml.rs
Labels: authorization

#116 Migrate workspace schema
  Cargo.lock
  Cargo.toml
  crates/nebula-backbone/Cargo.toml
  crates/nebula-backbone/src/application/mod.rs
  crates/nebula-backbone/src/database/migration/m20241126_001_init_backbone.rs
  crates/nebula-backbone/src/database/migration/mod.rs
  crates/nebula-backbone/src/database/mod.rs
  crates/nebula-backbone/src/database/workspace_migration/m20241126_001_init_backbone.rs
  crates/nebula-backbone/src/database/workspace_migration/mod.rs
  crates/nebula-backbone/src/domain/workspace/workspace_service.rs
Labels: backbone

#117 refactor(postgres): remove redundant semicolons from queries
  crates/nebula-storage/src/backend/postgres.rs
Labels: bug, storage

#119 refactor(router): simplify path structure & require entity_id
  crates/nebula-authority/src/config.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/config.rs
  crates/nebula-authorization/src/domain/connector/saml.rs
  crates/nebula-authorization/src/server/mod.rs
Labels: authority, authorization

#120 create shcema without transaction
  crates/nebula-backbone/src/application/mod.rs
  crates/nebula-backbone/src/domain/workspace/workspace_service.rs
Labels: bug, backbone

#121 feat(backbone): add create global parameter functionality
  crates/nebula-backbone/src/application/parameter/mod.rs
  crates/nebula-backbone/src/server/router/parameter/mod.rs
  crates/nebula-backbone/src/server/router/parameter/response/mod.rs
Labels: backbone

#122 migrate authorization table schema
  Cargo.lock
  crates/nebula-authorization/Cargo.toml
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/database/mod.rs
  crates/nebula-authorization/src/database/workspace.rs
  crates/nebula-authorization/src/database/workspace_migration/m20241128_001_init_authorization.rs
  crates/nebula-authorization/src/database/workspace_migration/mod.rs
  crates/nebula-authorization/src/domain/mod.rs
  crates/nebula-authorization/src/domain/workspace/mod.rs
  crates/nebula-authorization/src/server/router/mod.rs
Labels: authorization

#125 docs: fix link handling
  docs/docusaurus.config.ts
Labels: bug, documentation

#124 refactor: add if_not_exists checks in migration scripts
  crates/nebula-authorization/src/database/workspace_migration/m20241128_001_init_authorization.rs
  crates/nebula-backbone/src/database/migration/m20241126_001_init_backbone.rs
  crates/nebula-backbone/src/database/workspace_migration/m20241126_001_init_backbone.rs
Labels: backbone, authorization

#126 impl registering authority feature
  crates/nebula-backbone/src/application/authority/mod.rs
  crates/nebula-backbone/src/application/mod.rs
  crates/nebula-backbone/src/database/authority.rs
  crates/nebula-backbone/src/database/mod.rs
  crates/nebula-backbone/src/database/workspace_migration/m20241128_001_create_authority_table.rs
  crates/nebula-backbone/src/database/workspace_migration/mod.rs
  crates/nebula-backbone/src/domain/authority/mod.rs
  crates/nebula-backbone/src/domain/mod.rs
  crates/nebula-backbone/src/server/mod.rs
  crates/nebula-backbone/src/server/router/authority/mod.rs
  crates/nebula-backbone/src/server/router/authority/request.rs
  crates/nebula-backbone/src/server/router/authority/response.rs
  crates/nebula-backbone/src/server/router/mod.rs
Labels: backbone

#127 impl getting authority feature
  crates/nebula-backbone/src/application/authority/mod.rs
  crates/nebula-backbone/src/domain/authority/mod.rs
  crates/nebula-backbone/src/server/router/authority/mod.rs
  crates/nebula-backbone/src/server/router/authority/response.rs
  crates/nebula-miracl/src/x509.rs
  crates/nebula-policy/src/utils.rs
  crates/nebula-token/src/jwt.rs
Labels: backbone

#129 refactor: replace directories crate with nebula-config-path
  Cargo.lock
  Cargo.toml
  crates/nebula-authority/Cargo.toml
  crates/nebula-authority/src/config.rs
  crates/nebula-authorization/Cargo.toml
  crates/nebula-authorization/src/config.rs
  crates/nebula-cli/Cargo.toml
  crates/nebula-config-path/Cargo.toml
  crates/nebula-config-path/src/lib.rs
Labels: refactoring

#128 impl managing authority api
  crates/nebula-backbone/src/application/authority/mod.rs
  crates/nebula-backbone/src/domain/authority/mod.rs
  crates/nebula-backbone/src/server/router/authority/mod.rs
  crates/nebula-backbone/src/server/router/authority/request.rs
Labels: backbone
