Repository CremitHQ/nebula, pull requests merged in 2024-12, with the labels that each got.

#130 feat(cli): add login/init command
  Cargo.lock
  crates/nebula-cli/Cargo.toml
  crates/nebula-cli/src/api/mod.rs
  crates/nebula-cli/src/command/auth.rs
  crates/nebula-cli/src/command/config.rs
  crates/nebula-cli/src/command/login.rs
  crates/nebula-cli/src/command/mod.rs
  crates/nebula-cli/src/config/mod.rs
  crates/nebula-cli/src/main.rs
  crates/nebula-cli/src/utils/mod.rs
  crates/nebula-cli/src/utils/validation.rs
Labels: cli

#131 fix(authz): use structured params for workspace name
  crates/nebula-authorization/src/server/router/mod.rs
Labels: bug, authorization

#132 control backbone accesses
  Cargo.lock
  crates/nebula-backbone/Cargo.toml
  crates/nebula-backbone/src/application/mod.rs
  crates/nebula-backbone/src/config.rs
  crates/nebula-backbone/src/server/mod.rs
  crates/nebula-backbone/src/server/router/authority/mod.rs
  crates/nebula-backbone/src/server/router/parameter/mod.rs
  crates/nebula-backbone/src/server/router/path/mod.rs
  crates/nebula-backbone/src/server/router/policy/mod.rs
  crates/nebula-backbone/src/server/router/secret/mod.rs
  crates/nebula-backbone/src/server/router/workspace/mod.rs
Labels: backbone

#136 refactor: remove test-only mock functions from wasm
  crates/nebula-abe-wasm/src/lib.rs
Labels: wasm

#134 refactor: update path filter to exact match
  crates/nebula-backbone/src/domain/secret/mod.rs
Labels: backbone

#133 feat(cors): integrate CORS support with config options
  Cargo.lock
  Cargo.toml
  crates/nebula-authority/Cargo.toml
  crates/nebula-authority/src/config.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authorization/Cargo.toml
  crates/nebula-authorization/src/config.rs
  crates/nebula-authorization/src/server/mod.rs
  crates/nebula-backbone/Cargo.toml
  crates/nebula-backbone/src/config.rs
  crates/nebula-backbone/src/server/mod.rs
Labels: backbone, authority, authorization

#137 feat: refactor workspace path extraction using structs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-backbone/src/server/mod.rs
Labels: backbone, authority

#138 fix(backbone): correct delete authority method to mark as deleted
  crates/nebula-backbone/src/domain/authority/mod.rs
Labels: bug, backbone

#139 refactor(backbone): separate public and protected routes
  crates/nebula-backbone/src/server/mod.rs
  crates/nebula-backbone/src/server/router/parameter/mod.rs
  crates/nebula-backbone/src/server/router/workspace/mod.rs
Labels: bug, backbone

#140 fix(backbone): rename table to "authority"
  crates/nebula-backbone/src/database/authority.rs
Labels: bug, backbone

#141 feat(abe): expose PolicyLanguage for external use
  crates/nebula-abe/src/lib.rs
Labels: abe-module

#143 feat(cli): Add access condition and secret command
  Cargo.lock
  Cargo.toml
  crates/nebula-authority/Cargo.toml
  crates/nebula-cli/Cargo.toml
  crates/nebula-cli/src/api/authority.rs
  crates/nebula-cli/src/api/authorization.rs
  crates/nebula-cli/src/api/backbone.rs
  crates/nebula-cli/src/api/mod.rs
  crates/nebula-cli/src/command/access_condition.rs
  crates/nebula-cli/src/command/login.rs
  crates/nebula-cli/src/command/mod.rs
  crates/nebula-cli/src/command/secret.rs
  crates/nebula-cli/src/main.rs
Labels: cli

#142 refactor: use Url type for host to improve URL handling
  crates/nebula-authority/src/config.rs
  crates/nebula-authority/src/domain/authority.rs
  crates/nebula-authority/src/domain/backbone.rs
Labels: authority

#144 feat(authz): enhance SAML callback with port relay support
  crates/nebula-authorization/src/server/router/mod.rs
  crates/nebula-token/src/jwt.rs
Labels: authorization

#146 Control secret and path access
  Cargo.lock
  Cargo.toml
  crates/nebula-backbone/Cargo.toml
  crates/nebula-backbone/src/application/path/mod.rs
  crates/nebula-backbone/src/application/secret/mod.rs
  crates/nebula-backbone/src/domain/secret/mod.rs
  crates/nebula-backbone/src/domain/secret/path_policy/mod.rs
  crates/nebula-backbone/src/domain/secret/path_policy/pest/mod.rs
  crates/nebula-backbone/src/domain/secret/path_policy/pest/policy.pest
  crates/nebula-backbone/src/server/mod.rs
  crates/nebula-backbone/src/server/router/path/mod.rs
  crates/nebula-backbone/src/server/router/path/response.rs
  crates/nebula-backbone/src/server/router/secret/mod.rs
  crates/nebula-backbone/src/server/router/secret/response/mod.rs
  crates/nebula-backbone/src/server/router/workspace/mod.rs
  crates/nebula-policy/Cargo.toml
Labels: backbone

#147 feat(ci): add to the build docker
  .github/workflows/build-docker.yaml
  .github/workflows/ci-nebula.yaml
Labels: ci

#148 fix: enable CI and set version from tags in workflow
  .github/workflows/build-docker.yaml
Labels: bug, ci

#149 refactor: remove StaticJwksDiscovery for cached approach
  crates/nebula-authority/src/main.rs
  crates/nebula-backbone/src/application/mod.rs
Labels: backbone, authority

#152 refactor: update SAML attributes & modify BackboneConfig
  crates/nebula-authority/src/config.rs
  crates/nebula-authority/src/domain/authority.rs
  crates/nebula-authority/src/server/mod.rs
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/config.rs
  crates/nebula-authorization/src/domain/connector/saml.rs
Labels: backbone, authorization, refactoring

#153 refactor: update jwks handling to improve initialization and error management
  crates/nebula-authority/src/main.rs
  crates/nebula-backbone/src/application/mod.rs
  crates/nebula-token/src/auth/jwks_discovery.rs
Labels: backbone, authority, token

#154 feat: add initial Docker support with example configs
  .db.env.example
  .gitignore
  config/authority_config.toml.example
  config/authorization_config.toml.example
  config/backbone_config.toml.example
  docker-compose.yaml
Labels: scripts

#151 check secret access condition when accesssing secret
  crates/nebula-backbone/src/application/path/mod.rs
  crates/nebula-backbone/src/application/secret/mod.rs
  crates/nebula-backbone/src/domain/secret/mod.rs
  crates/nebula-backbone/src/server/router/secret/mod.rs
Labels: backbone

#162 feat(cli): add new CLI functionalities for authority, path, and policy
  crates/nebula-cli/src/api/authority.rs
  crates/nebula-cli/src/api/backbone.rs
  crates/nebula-cli/src/command/access_condition.rs
  crates/nebula-cli/src/command/authority.rs
  crates/nebula-cli/src/command/mod.rs
  crates/nebula-cli/src/command/path.rs
  crates/nebula-cli/src/command/secret.rs
Labels: cli

#161 feat: validate workspace name and make configurable workspace handling
  Cargo.lock
  Cargo.toml
  config/backbone_config.toml.example
  crates/nebula-authorization/Cargo.toml
  crates/nebula-authorization/src/database/mod.rs
  crates/nebula-authorization/src/domain/workspace/mod.rs
  crates/nebula-authorization/src/server/router/mod.rs
  crates/nebula-backbone/Cargo.toml
  crates/nebula-backbone/src/application/authority/mod.rs
  crates/nebula-backbone/src/application/mod.rs
  crates/nebula-backbone/src/application/parameter/mod.rs
  crates/nebula-backbone/src/application/path/mod.rs
  crates/nebula-backbone/src/application/policy/mod.rs
  crates/nebula-backbone/src/application/secret/mod.rs
  crates/nebula-backbone/src/application/workspace/mod.rs
  crates/nebula-backbone/src/config.rs
  crates/nebula-backbone/src/database/mod.rs
  crates/nebula-backbone/src/domain/workspace/mod.rs
  crates/nebula-backbone/src/domain/workspace/workspace_service.rs
  crates/nebula-backbone/src/server/router/workspace/mod.rs
  crates/nebula-backbone/src/server/router/workspace/response/mod.rs
  crates/nebula-common/Cargo.toml
  crates/nebula-common/src/lib.rs
Labels: backbone

#160 feat: support dynamic SAML admin role configuration
  config/authorization_config.toml.example
  crates/nebula-authorization/src/application.rs
  crates/nebula-authorization/src/config.rs
  crates/nebula-authorization/src/domain/connector/saml.rs
  crates/nebula-authorization/src/main.rs
Labels: authorization

#155 feat(authority): add validation for secret shares and threshold
  crates/nebula-authority/src/server/router/init/mod.rs
Labels: authority

#157 fix: remove redundant path check for root "/"
  crates/nebula-backbone/src/domain/secret/mod.rs
Labels: bug, backbone

#159 chore: simplify shield key assignment logic
  crates/nebula-storage/src/shield/aes.rs
Labels: refactoring, storage

#163 fix: remove unused column from applied_policy table
  crates/nebula-backbone/src/database/workspace_migration/m20241206_001_remove_unused_column_applied_policy_table.rs
  crates/nebula-backbone/src/database/workspace_migration/mod.rs
Labels: bug, backbone

#164 release v0.0.1
  crates/nebula-backbone/src/database/workspace_migration/m20241126_001_init_backbone.rs
  crates/nebula-backbone/src/database/workspace_migration/m20241128_001_create_authority_table.rs
  crates/nebula-backbone/src/database/workspace_migration/m20241206_001_remove_unused_column_applied_policy_table.rs
  crates/nebula-backbone/src/database/workspace_migration/mod.rs
Labels: Release

#166 fix(auth): update token service URL construction
  crates/nebula-authorization/src/application.rs
Labels: bug, authorization

#167 fix: handle missing claim attribute in SAMLConnector
  crates/nebula-authorization/src/domain/connector/saml.rs
Labels: bug, authorization

#170 feat: add new docs
  docs/docs/cli/command.mdx
  docs/docs/cli/install.mdx
  docs/docs/config/authority.mdx
  docs/docs/config/authorization.mdx
  docs/docs/config/backbone.mdx
  docs/docs/getting-started/glossary.md
  docs/docs/getting-started/introduction.mdx
  docs/docs/getting-started/overview-diagram.png
  docs/docs/getting-started/quick-start.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/img/nebula-icon.png
  docs/static/img/nebula-logo.svg
  docs/versioned_docs/version-0.0.1/getting-started/introduction.mdx
  docs/versioned_docs/version-0.0.1/getting-started/overview-diagram.png
  docs/versioned_docs/version-0.0.1/glossary.md
  docs/versioned_sidebars/version-0.0.1-sidebars.json
  docs/versions.json
Labels: documentation

#168 feat(ci): add GitHub Actions workflow for multi-platform CLI builds
  .github/workflows/cli-release.yaml
  scripts/cli_install.sh
Labels: ci, cli

#172 docs: add Nebula CLI usage
  docs/docs/cli/command.mdx
  docs/docs/cli/command/access-condition.mdx
  docs/docs/cli/command/authority.mdx
  docs/docs/cli/command/config.mdx
  docs/docs/cli/command/index.mdx
  docs/docs/cli/command/login.mdx
  docs/docs/cli/command/path.mdx
  docs/docs/cli/command/secret.mdx
  docs/sidebars.ts
  docs/src/pages/index.tsx
  docs/versioned_docs/version-0.0.1/cli/command/access-condition.mdx
  docs/versioned_docs/version-0.0.1/cli/command/authority.mdx
  docs/versioned_docs/version-0.0.1/cli/command/config.mdx
  docs/versioned_docs/version-0.0.1/cli/command/index.mdx
  docs/versioned_docs/version-0.0.1/cli/command/login.mdx
  docs/versioned_docs/version-0.0.1/cli/command/path.mdx
  docs/versioned_docs/version-0.0.1/cli/command/secret.mdx
  docs/versioned_docs/version-0.0.1/cli/install.mdx
  docs/versioned_docs/version-0.0.1/config/authority.mdx
  docs/versioned_docs/version-0.0.1/config/authorization.mdx
  docs/versioned_docs/version-0.0.1/config/backbone.mdx
  docs/versioned_docs/version-0.0.1/getting-started/glossary.md
  docs/versioned_docs/version-0.0.1/getting-started/introduction.mdx
  docs/versioned_docs/version-0.0.1/getting-started/overview-diagram.png
  docs/versioned_docs/version-0.0.1/getting-started/quick-start.mdx
  docs/versioned_docs/version-0.0.1/glossary.md
  docs/versioned_sidebars/version-0.0.1-sidebars.json
  docs/versions.json
Labels: documentation

#171 docs: update quick-start guide for .db.env setup
  docs/docs/getting-started/quick-start.mdx
Labels: documentation

#173 docs: update glossary for clarity and precision
  docs/docs/getting-started/glossary.md
Labels: documentation

#174 docs: update README layout and improve clarity
  README.md
Labels: documentation

#175 docs: update image sizes and add diagram to README
  README.md
Labels: documentation

#179 docs: fix typos and update example expressions in CLI doc
  docs/docs/cli/command/access-condition.mdx
Labels: documentation

#188 docs: add asciinema demo links
  README.md
  docs/docs/getting-started/quick-start.mdx
Labels: documentation

#191 Initialize root path and parameter when initializing workspace
  Cargo.lock
  Cargo.toml
  crates/nebula-backbone/src/application/mod.rs
  crates/nebula-backbone/src/application/workspace/mod.rs
  crates/nebula-backbone/src/domain/secret/mod.rs
  crates/nebula-backbone/src/server/mod.rs
  crates/nebula-backbone/src/server/router/workspace/mod.rs
Labels: bug, backbone

#192 use creating workspace schema when creating workspace
  Cargo.lock
  Cargo.toml
  crates/nebula-backbone/src/application/workspace/mod.rs
Labels: bug, backbone

#193 fix creating workspace test
  crates/nebula-backbone/src/application/workspace/mod.rs
Labels: bug, backbone

#195 add location header to post machine identity response
  Cargo.lock
  Cargo.toml
  crates/nebula-authorization/src/domain/machine_identity/mod.rs
  crates/nebula-authorization/src/server/router/mod.rs
Labels: enhancement, authorization
